@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Silkscreen:wght@400;700&display=swap');

// variables
:root {
--forecolor1: #313938;
--forecolor2: #313938ab;
--bgcolor1: #cacacac3;
--bgcolor2: #abaaaacd;
--bgcolor3: #747373c3;
--highlight1: #dfc383e1;
--highlight2: #dfc38359;
--blue: #1962E0;
--fontBold: "Silkscreen", sans-serif;
font-weight: 700;
}