@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Silkscreen:wght@400;700&display=swap');

// variables
:root {
--forecolor1: #313938;
--forecolor2: #313938ab;
--bgcolor: #9b9b9b;
--bgcolor1: #d8d8d892;
--bgcolor2: #989797b0;
--bgcolor3: #747373a7;
--highlight1: #ff8800ad;
--highlight2: #ff880058;
--red: #b80d0d;
--blue: #1986e0;
--blue1: #1986e0a4;
--fontFamily: 'Silkscreen_400Regular';
font-weight: 700;
}